/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: auto;
    padding:0;
    margin: 0px auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.header{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.header p{
    padding-left: 25px;
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.header img{
    height: 20px;
    width: 20px;
    padding-right: 20px;
}
#fitness_class{
    height: auto;
    width: 100%;
    display: flex;
    background-color:rgb(224, 220, 220);
    gap: 10px;
    justify-content: center;
    align-content: center;
}
#about{
    height: auto;
    width: 800px;
    background-color:rgb(224, 220, 220);
    text-align:left;
    padding-left:80px;
    padding-right:110px;
}
#about h1{
    padding-top: 85px;
    padding-bottom: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 62px;

}
#about h5{
    color: rgb(82, 81, 81);
    font-size: 27px;
    padding-bottom: 30px;
}
#about p{
    line-height: 2;
    font-size: 22px;
    font-weight: 900;
    color: rgb(82, 81, 81);
    padding-bottom: 200px; 
   
}
#about a{
    padding: 17px 70px;
    border: 1px solid red;
    background-color: red;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

#bigimg img{
    height: auto;
    width: 800px;
}
#variation{
    height:450px;
    width: 100%;
    background-color: red;
    padding-top: 16px;
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.var{
    height: 350px;
    width: 350px;
    background-color:white;
    padding: 15px 20px;
    text-align: left;
}
.var img{
    height: 80px;
    width: 80px;
    padding: 15px 15px;
    border: 1px solid   rgb(253, 149, 149);
    border-radius: 50%;
    background-color: rgb(253, 149, 149);
}
.var h5{
    color:rgb(82, 81, 81);
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.var p{
    color:rgb(82, 81, 81);
    padding-bottom:30px;
    font-size: 17px;
}
.var a{
    text-decoration: none;
    color: rgb(82, 81, 81);
    padding: 5px 20px;
    border: 1px solid rgb(82, 81, 81);
    font-size: 16px;
}
#try{
    height:800px;
    width: 100%;
    background-color:rgb(224, 220, 220);
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#what h1{
    font-size: 60px;
    padding: 20px 20px;
}
#learn{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    
}
#fitfit1{
 
    left: 300px;
    height:450px;
    width: 320px;
    background-color: white;
    top:60px; 
    padding: 20px 20px;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#fitfit2{

    left: 680px;
    height:450px;
    width: 320px;
    background-color: white;
    top:100px; 
    padding: 10px 10px;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#fitfit3{
  
    left:1050px;
    height:450px;
    width: 320px;
    background-color: white;
    top:150px; 
    padding: 10px 10px;
    position: absolute;
    z-index: 2;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#colll{
    margin-top: 250px;
    height:160px;
    width:100%;
    background-color: red;
    z-index: 1;
    position: absolute;

}
#fitfit1 img{
    height: 170px;
    width: 250px;

}
#fitfit1 h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
#fitfit1 p{
    font-size: 15px;
    padding-bottom: 10px;
}
#fitfit1 a{
    text-decoration: none;
    color:rgb(82, 81, 81) ;
}
#fitfit2 img{
    height: 170px;
    width: 250px;

}
#fitfit2 h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
#fitfit2 p{
    font-size: 15px;
    padding-bottom: 10px;
}
#fitfit2 a{
    text-decoration: none;
    color:rgb(82, 81, 81) ;
}
#fitfit3 img{
    height: 170px;
    width: 250px;

}
#fitfit3 h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
#fitfit3 p{
    font-size: 15px;
    padding-bottom: 10px;
}
#fitfit3 a{
    text-decoration: none;
    color:rgb(82, 81, 81) ;
}
#training{
    width: 100%;
    height: 800px;
    background-color: white;
    align-items: center;
    justify-content: center;
    align-content: center;

}
#trio1
{
    margin-top: 100px;
    margin-left: 350px;
    height: 280px;
    width: 250px; 
    background-size: cover;
    z-index: 1;
    position: absolute;    
}
#trio1 img{
    height: 280px;
    width: 250px; 
}
#trio2
{
    margin-top: 130px;
    margin-left: 550px;
    height: 280px;
    width: 250px; 
    background-size: cover;
    z-index: 2;
    position: absolute;    
}
#trio2 img{
    height: 280px;
    width: 250px; 
}
#trio3
{
    margin-top: 50px;
    margin-left: 750px;
    height: 280px;
    width: 250px; 
    background-size: cover;
    z-index: 1;
    position: absolute;    
}
#trio3 img{
    height: 280px;
    width: 250px; 
}
#outdoortrain{
    height: 300px;
}
#look{
    width: 100%;
    height: 600px;
    background-color: white;
}
#gry{
    margin-top: 220px;
    width: 100%;
    height: 380px;
    z-index: 1;
    position: absolute;
    background-color:rgb(224, 220, 220);
}
#pinkk{
    margin-top: 100px;
    margin-left: 600px;
    height: 450px;
    width: 170px;
    z-index: 2;
    position: absolute;
    background-color: rgb(249, 117, 139);
   
} 
#detail{
    margin-top: 350px;
    margin-left: 50px;
    height: 170px;
    width: 550px;
    background-color: white;
    padding-left: 20px;
    padding-top: 40px;
    position: absolute;
    z-index: 3;
}
#detail p{
    font-size: 15px;
    padding-bottom: 15px;
}
#detail h2{
    font-size: 43px;
}
#img1
{
    margin-left: 50px;
    height: 310px;
    width: 650px; 
    background-size: cover;
    z-index: 4;
    position: absolute;
}
#img2{
    margin-top: 250px;
    margin-left: 650px;
    height: 250px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
}
#contact{
    width: 100%;
    height: 1000px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 232, 232);
    align-items: center;
    justify-content: center;
    align-content: center;
}
#newimg{
    z-index: 1;
    height: 900px;
    width: 900px;
}
#newimg img{
    height: 900px;
    width: 900px;
}

#abt{
height: 500px;
width: 500px;
background-color: black;
padding: 50px 20px;
position: absolute;
z-index: 2;
}

#abt1{
    margin-left: 800px;
    margin-top: 200px;
    height: 600px;
    width: 600px;
    background-color:white;
    z-index: 3;
    padding: 20px 20px;
    box-shadow: 5px 10px 8px gray;
    position: absolute;

    }
#abt1 h1{
    text-align: center;
    padding-bottom:25px;
}
#abt1 a{
    text-align: center;
    padding: 10px 170px;
    border: 1.5px solid black;
    text-decoration: none;
    color: black;
}
#abt p{
    padding-bottom:20px;
    color:rgb(174, 171, 171);
}
#abt h1{
    color:white;
    font-size: 50px;
}
input{
    border:none;
}

#complete{
    display: flex;
    width: 100%;
    height: 800px;
   background-color:rgb(237, 232, 232);
   align-items: center;
   justify-content: center;
   align-content: center;
}
#iimg{
    width: 600px;
    height: 600px;
    background-color: rgb(237, 232, 232);
}
#iimg img{
    width: 600px;
    height: 560px;

}
#comp{
    width: 600px;
    height: 560px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    background-color:rgb(227, 225, 225);

}
#comp h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding-bottom:15px;
    font-weight: 200;
 
}
#comp p{
    font-size: 15px;
    line-height:1.8;
    padding-bottom: 100px;
}
#comp a{
    padding: 10px 20px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 15px;
    text-decoration: none;

} */
